.form{
    display: block;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}


#thumb-nail{
    height: 100px;
}


