.cart-icon {
    display: flex;
    align-items: center;
    
}

.cart-icon .fas {
    font-size: 1.8em;
}

.amount .fas{
    font-size: 10px;
}
#cart-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.drop-cart-item{
    cursor: pointer;
}