body { padding-top: 70px; }

.cart-icon-number { 
  left: 50%;
  top: 50%;
  transform: translate(-40%, -55%);
  position: absolute;
  text-shadow: 1px 1px 10px black,
  2px 2px 10px black;
  color: white;
}

#sub-nav  a {
    font-size: 90%;
  }

  #produkter{
    outline: none;
  }

  #nav-active-line{
      position: absolute;
      border-bottom: 1px solid white;
      z-index: 3;
      display: none;
    
  }

  .icon-size{
    margin-left: 5px;
    font-size: 15px;
  }
 

  #sub-nav{
  //  background-color:  var(--secondary);
   padding: 10px;
   border-radius: 7px;

  }


  

  @media screen and (min-width: 992px) {
    #sub-nav {
      //position: absolute;
      padding: 0px;
      background-color:  var(--primary);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }

   

}
  





