#sub-nav > a {
    font-size: 70%;
  }

  #sub-nav{
   background-color:  var(--secondary);
   padding: 10px;
   border-radius: 7px;
  }


  @media screen and (min-width: 992px) {
    #sub-nav {
      position: absolute;
      background-color: var(--primary);
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
}