.wide-item{
    width: 150px;
    text-align: center;
}
.icon-item{
    width: 50px;
    text-align: center;
}
.detail-button{
    color: blue;
}
.detail-button:hover{
    cursor: pointer;
    color: lightgray;
}