a:link, a:hover {
    text-decoration: none !important;
}

.img-product-page {
    height: 330px;
    width: 100%;
    object-fit: scale-down;
}

.sticker-discount {
    position: absolute;
    right: 0;
    border: 2px solid white;
    box-shadow: 1px 2px 2px -1px rgba(0,0,0,.4);
    border-width: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(204, 4, 3);
    border-radius: 100%;
    font-size: 1.5rem;
    margin: 0;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(30deg);
}
