// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// what variables exists)
@import 'variable-overrides';

// The whole Bootstrap library
@import 'bootstrap/bootstrap';

// My own CSS (as little as possible)
@import 'sticky-footer';

@import 'home-page';

@import 'cart-icon';

@import 'homepage';

@import 'about-us'; 

@import 'adress-info';

@import 'confirmation';


@import 'order-history';

@import 'open-iconic-bootstrap.scss';

@import 'product-page.scss';

@import 'styling';

//styling for nav-bar (Ralf)
@import 'nav-bar';

