.main-color {
    color: #00467F;
}

.btn-info {
    background-color: #00467F;
    border: none;
}

.navbar-header-color {
    background: #00467F;
}

.footer-color {
    background: #00467F;
    color: white;
}

.fas {
    font-size: 1.8em;
    color: white;
    margin-right: 8px;
}