.main-color {
    color: $primary;
}

.btn-info {
    background-color: $primary;
    border: none;
}

.navbar-header-color {
    background: $primary;
}

.footer-color {
    background: $primary;
    color: white;
}

#logo {
    font-size: 1.8em;
    color: white;
    margin-right: 8px;
}