.main-color {
    color: $primary;
}

.btn-info {
    background-color: $primary;
    border: none;
}

.navbar-header-color {
    background: $primary;
}

.footer-color {
    background: $primary;
    color: white;
}

